<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TTGS | Timetable Generation System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link rel="stylesheet" type="text/css" href="static/css/index.css">

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#6060cc">
                <a class="navbar-brand" href="#"  ><b>TIMETABLE GENERATOR</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'help' %}">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="{% url 'login' %}">Login</a>
		            </li>
		            <li class="nav-item">
			            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
		            </li>
                    </ul>
                </div>
            </nav>
        </header>

      <div class="container" style="margin-top:1.5em; margin-bottom:1.5em">
          <img src="static/img/undraw1.svg"  height = 500px width = 800px/>
          <img src="static/img/opju.png"  />
      </div>

    <!--Jumbotron-->
    <div class="container-fluid">
    <div style = "color:#6060cc;" class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Welcome to TTGS!, The primary objective of this project is to overcome the limitations of manual or traditional scheduling methods, which can be time-consuming, error-prone, and often fail to optimize resource utilization or minimize conflicts. By applying optimization algorithms, the project aims to improve the quality, efficiency, and fairness of the generated time tables.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a  href="{% url 'contact' %}"><button type="button" style = "background-color:#6060cc;color:#fff;" class="btn btn-outline-secondary btn-lg">Contact Us</button></a>
        </div>
    </div>
    </div>
    <!--Build with Ease and Logos section-->
    <div style = "color:#6060cc;" class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Build with ease.</h1>
        </div>
        <hr />
        <div class="col-12">
            <p class="lead">
                A Timetable Generation Tool that allows the swift, efficient and smooth generation of college and university timetables with complete collision avoidance.
            </p>
        </div>
    </div>
    </div>
    <div style = "color:#6060cc;" class="container-fluid">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <h3>Fast</h3>
            <p>Fast and Smooth Scheduling.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <h3>Secure</h3>
            <p>Secure Scheduling Process.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <h3>Reliable</h3>
            <p>Reliable and Trustworthy Process.</p>
        </div>
    </div>
    <hr class="my-4"/>
    </div>

    <!--Connect Section-->
    <div style = "color:#6060cc;" class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://myaccount.google.com/intro/personal-info"><i class="fab fa-google-plus-g"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    </div>
    <!--Footer-->
    <footer style = "background-color:#6060cc;">
        <div style = "background-color:#6060cc;color:#fff;" class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Address</h5>
                <hr class="light">
                <p>+91 6389812141</p>
                <p>ashu.ug19cse38@opju.ac.in</p>
                <p>OP Jindal University</p>
                <p>Raigarh , Chhatisgarh, 496109</p>
            </div>
            <div class="col-md-4">
                <hr class="light" />
                <h5>Contributors</h5>
                <hr class="light" />
                <p>Ashutosh Kumar Shahi</p>
                <p>Sharda Keshari</p>
                <p>Sakshi Verma</p>
                <p>Aniket Sinha</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Supervisor</h5>
                <hr class="light" />
                <p>Mr. Umashankar Pandey</p>
                <p>Asst. Professor,Department of CSE</p>
                <p>OP Jindal University</p>
                <p>Raigarh, Chhatisgarh</p>
            </div>
            <div class="col-12">
                <hr class="light" />
                <h5>&copy;OPJU-Raigarh</h5>
            </div>
        </div>
        </div>
    </footer>
   </form>
</body>
</html>